html {
  font-family: 'Open Sans', sans-serif;;
  font-style: normal;
  font-weight: 400;
  position: relative;
   min-height: 100%;
   color:white;
}

body {
	margin: 0;
	padding: 0;
}

h2 {
	text-transform: uppercase;
	font-size:36px;
	font-weight: 800;
	color: #333333;
}

.home, .video {
	background: url(../images/mossy-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.bio {
	background-color: black;
	/*background: url(../images/bio-bg.jpg) no-repeat center center fixed; */
}

.logo {
	text-align:center;
	margin: 0 20px;
}

.logo img {
	margin-top: 20%;
	max-width:100%;
	height: auto;
}

.bio article {
	padding: 20px;
	width: 50%;
	margin-bottom:60px;
	text-align: center;
}

footer {
	position: absolute;
	left:0;
	bottom:0;
	height: 80px;
	width: 100%;
	background: #000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-weight: 700;
    font-size: 16px;
}

footer ul {
	float: right;
	text-transform: uppercase;
	list-style: none;
	margin-right:20px;
}

footer ul li {
	display:inline;
	margin-right: 20px;
}

footer img {
	width: 280px;
	height: auto;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: white;
}

.video-container {
	margin-bottom: 5px;
}

.video-wrapper {
	padding-bottom: 80px;
	width: 600px;
	margin: 0 auto;
}

@media (max-width: 800px) {
	footer ul {
		text-align: center;
	}
	footer img {
		display: none;
	}

	.bio article {
		width: auto;
	}

	.video-wrapper {
	width: auto;
	
	}

	.video-container {
	    position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 30px; height: 0; overflow: hidden;
	}

	.video-container iframe,
	.video-container object,
	.video-container embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
}

