html { 
  background: url(../images/mossy-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;;
  font-style: normal;
  font-weight: 300;
}

body {
	margin: 0;
	padding: 0;
}

.logo {
	text-align:center;
	margin: 0 20px;
}

.logo img {
	margin-top: 20%;
	max-width:100%;
	height: auto;
}

footer {
	position: absolute;
	left:0;
	bottom:0;
	height: 80px;
	width: 100%;
	background: #000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-weight: 800;
    font-size: 16px;
}

footer ul {
	float: right;
	text-transform: uppercase;
	color:white;
	list-style: none;
	margin-right:20px;
}

footer ul li {
	display:inline;
	margin-right: 20px;
}

footer img {
	width: 280px;
	height: auto;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: white;
}

@media (max-width: 800px) {
	footer img {
		display: none;
	}
}

